{% extends 'base.html' %}

{% block title %}
Details
{% endblock %}

{% block content %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {% for det in detail %}

    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">{{ det.name }}</h2>

        </div>
        <div class="bg-blue shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;">
            <p class="lead">{{ det.description }}</p>
            <a href="/buy/{{ det.id }}" type="button" class="btn btn-info btn-outline-primary" id="buy">BUY</a>
        </div>
    </div>


    {% endfor %}
</div>

{% endblock %}